@import "compass/reset";
@import "compass/css3";
$sprites-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "sprites/*.png";
@include all-sprites-sprites;

body{
    color: #2f1b15;
    background: #797979;
}

.bg-pattern{
    padding-top: 60px;
    margin: 0 auto;
    background: url(../img/pattern.jpg);
    width: 1000px;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

h1{
    font: 22.43px 'PT Sans', sans-serif;
    font-weight: bold;
}

.row-underline{
                padding: 13px 0 15px 0;
                overflow: hidden;
                span{
                    position: relative;
                    top: -15px;
                    margin: 0 0 0 27px;
                    display: inline-block;
                    font: 30px 'Courier New', sans-serif;
                    &:after{
                        content: '';
                        position: absolute;
                        left: -11px;
                        bottom: -6px;
                        @extend .sprites-line;
                    }
                }
}

header{
    margin: 60px 0 30px 0;
    .logo{
        width: 154px;
        float: left;
        span{
            position: relative;
            top: -18px;
            left: 8px;
            font: 10px/33.35px 'PT Sans', sans-serif;
        }
    }
    .top-secret{
        float: right;
        margin: -12px 0 0 0;
    }
}

article, footer{
    width: 770px;
    margin: 0 auto;
}

article{
    .content-header{
        margin: 0 0 51px 0;
        text-align: center;
        img{
            margin: 0 0 0 -28px;
        }
    }
    .personal-data{
        font: 22.43px 'PT Sans', sans-serif;
        font-weight: bold;
       ul{
           margin: 0 0 4px 0;
           li{
               @extend .row-underline;
           }
        }
        form{
            margin: 0 0 41px 0;
            a{
                margin: 0 19px 0 0;
                color: #014f98;
                &:hover{
                    text-decoration: none;
                }
            }
            label{
                margin: 0 16px 0 0;
                font: 23px 'PT Sans', sans-serif;
                font-weight: bold;
                input[type="radio"]{
                    display: none;
                }
                input[type="radio"]+span{
                    display: inline-block;
                    position: relative;
                    top: 16px;
                    @extend .sprites-radio;
                }
                input[type="radio"]:checked+span{
                    &:after{
                        content: '';
                        position: absolute;
                        top: 13px;
                        left: 9px;
                        @extend .sprites-radio-checked;
                    }
                }
            }
            
        }
    }
}

.skills{
    margin: 0 0 66px 0;
    h1{
        margin: 0 0 10px 0;
    }
    p{
        margin: 0 0 19px 0;
        padding: 0 0 0 19px;
        width: 100%;
        position: relative;
        color: #3d3d3d;
        font: 14px/22px 'PT Sans', sans-serif;
        &:before{
            content: '*';
            position: absolute;
            left: 0px;
            top: 9px;
            font-size: 36px;
        }
    }
    form{
        div{
            float: left;
            width: 33.33%;
            &:last-child{
                label{
                    margin-left: 26px;
                }
            }
            label{
                padding: 0 0 0 27px;
                margin: 0 0 10px 0;
                position: relative;
                display: block;
                font: 21px/25px 'PT Sans', sans-serif;
                font-weight: bold;
                cursor: pointer;
                input[type="checkbox"]{
                    display: none;
                }
                input[type="checkbox"]+ span{
                    margin:  0 9px 0 0;
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    display: inline-block;
                    @extend .sprites-checkbox;
                }
                input[type="checkbox"]:checked+ span{
                    &:after{
                        content: '';
                        position: absolute;
                        right: -5px;
                        bottom: 3px;
                        @extend .sprites-checkbox-checked;
                    }
                }
            }
        }
    }
}

.js-skill{
    margin: 0 0 46px 0;
    h1{
        margin: 0 0px 14px 10px;
    }
    .nstSlider{
        margin: 0 0 0 6px;
        width: 100%;
        background-color: transparent;
        @extend .sprites-slider;
        .leftGrip{
            position: relative;
            top: 10px;
            background-color: transparent;
            @extend .sprites-triangle;
        }
    }
    .description{
        margin: -3px 0 0 0;
        font: 13px/19px 'PT Sans', sans-serif;
        font-weight: bold;
        li{
            display: inline-block;
            float: left;
            &:nth-child(1){
                margin: 0px 83px 0 13px;
            }
            &:nth-child(2){
                margin: 0 61px 0 0;
            }
            &:nth-child(3){
                margin: 0 81px 0 0;
            }
        }
    }
}

footer{
    .row-underline{
        margin: 0 0 58px 0;
        float: left;
        font: 22.43px 'PT Sans', sans-serif;
        font-weight: bold;
        span{
            top: -14px;
            margin: 0px 0 0 10px;
            padding: 0 16px 0 0;
            &:after{
                bottom: -6px;
            }
        }
    }
}